{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block head %}
<script src="{{ url_for('static', filename='js/JQuery-3.6.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/chessboard-1.0.0.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/chessboard-1.0.0.min.css') }}">
{{ super() }}
{% endblock %}

{% block content %}
<div id="board" style="width: 600px"></div>
<button id="startBtn">Start Position</button>
<button id="clearBtn">Clear Board</button>

<script>
function onDrop (source, target, piece, newPos, oldPos, orientation) {
      $.ajax({
                  url: 'move?' + $.param({ 
                    Source: source,
                    Target: target,
                    Piece: piece
                   }),
                  method: 'POST'
      });
}

var config = {
  draggable: true,
  position: 'start',
  onDrop: onDrop
}

var board = Chessboard('board', config)
$('#startBtn').on('click', board.start)
$('#clearBtn').on('click', board.clear)
</script>
{% endblock %}