{% extends "layout.html" %}

{% block title %}Chess{% endblock %}

{% block head %}
<script src="{{ url_for('static', filename='js/JQuery-3.6.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/chessboard-1.0.0.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-5.2.2.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/chessboard-1.0.0.min.css') }}">
{{ super() }}
{% endblock %}

{% block content %}
<div class="h-100 d-flex justify-content-center align-items-center">
  <div id="board" style="height: 60%; width: 50%"></div>
</div>

<script>
  var queue = [];
  var running = false;

  setInterval(function() {
   if (! running && queue.length > 0) {
    move(queue.shift())
   }
  }, 1000);

  function move(move) {
    running = true;

    $.ajax({
      url: 'move',
      data: JSON.stringify(move),
      dataType: 'json',
      contentType: 'application/json; charset=utf-8',
      method: 'POST',
      complete: () => running = false
    });
  }

  function onDrop(source, target, piece, newPos, oldPos, orientation) {
    if (source != target) {
      queue.push({"source": source,
       "target": target,
       "piece": piece,
       "newPos": newPos,
       "oldPos": oldPos,
       "orientation": orientation});
    }
  }

  var board = Chessboard('board', {
    draggable: true,
    position: 'start',
    onDrop: onDrop
  })
</script>
{% endblock %}